*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}

input , button{
	outline:none;
}

header{
	height:150px;
	border-bottom:1px solid #7f8c8d;
	background:#34495e;
	position:relative;
}

.title , .subtitle{
	text-transform: uppercase;
	padding-left:20px;
}

.title{
	color:orange;
	font-size:50px;
	letter-spacing: 7px;
	padding-top:25px;
	text-shadow:2px 3px #fff;
}

.subtitle{
	color:white;
	font-size:22px;
	padding-left:25px;
	letter-spacing: 2px;
}

.auth-container{
	position:absolute;
	top:15px;
	right:20px;
}

.auth-container button{
	display: inline-block;
	font-weight: bold;
	padding:7px 12px;
	font-size:14px;
	transition:0.3s all;
}

.btn-login{
	border:0;
	color:white;
	background:#e67e22;
}

.btn-login:hover{
	background:#f39c12;
	cursor:pointer;
}

.btn-cadastrar{
	border:1px solid #fff;
	margin-top:10px;
	background:transparent;
	color:#e67e22;
	color:white;
}

.btn-cadastrar:hover{
	background:#7f8c8d;
	cursor:pointer;
}

.auth-container span{
	color:white;
	padding:0 5px;
	font-size:15px;
	font-weight: bold;
	text-transform: uppercase;
}

.box-search{
	position:absolute;
	bottom:20px;	
	right:20px;
	width:370px;
	height:40px;
}

.input-search{
	width:88%;
	height:100%;
	float:left;
	padding:0 5px;
	font-size:15px;
	transition:0.3s all;
	background:#34495e;
	color:white;
	border:1px solid white;
	border-right:0;
}

.input-search:focus{
	background:white;
	color:black;
}

.icon-search{
	border: 0;
	cursor:pointer;
	width:12%;
	height:100%;
	background:white;
	float:right;
	background-image:url("../images/search.svg");
	background-size:70% 70%;
	background-repeat: no-repeat;
	background-position: center center;
}

.activate-menu{
	display: none;
	background:#34495e;
	text-align: right;
	height:50px;
}

.trigger-mobile{
	color:white;
}

.menu-itens{
	overflow:auto;
	transition:0.3s all;
}

.menu-itens ul{
	list-style:none;
	background:#34495e;
	text-align: center;
	margin-bottom:50px;
}

.item-menu{
	display: inline-block;
	border-right:1px solid #7f8c8d;
}

.item-menu:last-of-type{
	border-right:0;
}

.item-menu a{
	padding:10px;
	display: inline-block;
	color:white;
	text-decoration:none;
	text-transform: uppercase;
	font-size:13px;
	letter-spacing: 1px;
	font-weight: bold;
}

.item-menu a:hover{
	color:#D2D7D3;
}

.lista-bikes{
	height: auto;
	width:90%;
	margin:0 auto;
	padding-bottom:30px;
	text-align: left;
	list-style: none;
}

.item-bike{
	display: inline-block;
	border:1px solid #bdc3c7;
	box-shadow:1px 1px #ccc;
	margin-left:20px;
	margin-bottom:70px;
	width:270px;
	height:350px;
	position:relative;
}


.img_bicicleta{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:74%;
}

.img{
	position:relative;
	left:5%;
	width:90%;
	height: 90%;
}

.detalhes{
	width:100%;
	height:26%;
	background:#34495e;
	position:absolute;
	bottom:0;
	left:0;
}

.valores{
	position:absolute;
	left:0;
	bottom:5px;
	width:50%;
	height:auto;
}

.valores p{
	padding-left:10px;
	text-transform: uppercase;
	font-weight: bold;
}

.descricao{
	font-size:17px;
	padding-bottom:3px;
	/*color:#34495e;*/
	color:white;
	text-transform: uppercase;
}

.valores .preco{
	color:orange;
	font-size:20px;
}

.funcao{
	margin-top:15px;
	margin-left:10px;
	text-align: left;
	color:white;
	font-weight: bold;
}

.funcao .tipo{
	font-size:17px;
	color:orange;
	text-transform: uppercase;
}


.btn{
	padding:5px 10px;
	background:#2ecc71;
	color:white;
	/*color:#34495e;*/
	border:0;
	text-decoration:none;
	font-weight: bold;
	font-size:17px;
	text-transform: uppercase;
	position:absolute;
	bottom:10px;
	right:10px;
	cursor:pointer;
	transition:0.3s all;
}

.btn:hover{
	background:#27ae60;
}

footer{
	position:relative;
	bottom:0;
	left:0;
	right:0;
	background:#2c3e50;
}

.informacoes{
	margin:0;
	padding:0;
	list-style: none;
}

.informacoes li{
	display: inline;
	border-right:1px solid #fff;
}

.informacoes li:last-of-type{
	border-right:0;
}

.informacoes li a{
	padding:15px;
	color:#bdc3c7;
	text-decoration:none;
	display: inline-block;
	text-transform: uppercase;
	font-size:13px;
	font-weight: bold;
	transition:0.3s all;
}

.informacoes li a:hover{
	color:white;
}
a{
	text-decoration: none;
}

.detalhe_bicicleta{
	width:900px;
	height:380px;
	margin:0 auto 20px;
	position:relative;
}

.img_bicicleta_2{
	width:500px;
	height:300px;
	position:absolute;
}

.img_bicicleta_2 img{
	width:100%;
	height:100%;
}

.dados{
	width:300px;
	float:right;
	margin-right:20px;
}

.btn-detalhe{
	position:absolute;
	bottom:0;
	right:0;
}
